/* This CSS is common to all pages */

@tailwind base;
@layer base {
    html {
        @apply font-sans antialiased;
    }
}
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-pt-16;
}

html,
body,
#page-view {
    @apply min-h-screen bg-slate-800;
}

#page-view {
    @apply bg-white;
}

mark {
    background-color: transparent;
    color: inherit;
    font-style: inherit;
}

*:not([data-virtuoso-scroller] *) {
    @apply transition-all;
}

#page-view main {
    transition: opacity 0.1s ease-in;
}
#page-view main.page-transition {
    opacity: 0;
}
