/* This CSS is common to all pages */

@tailwind base;
@layer base {
    html {
        @apply font-sans;
    }
}
@tailwind components;
@tailwind utilities;

mark {
    background-color: transparent;
    color: inherit;
    font-style: inherit;
}
